.App {
    padding: 0em 2em;
}

body {
    margin: 0 auto;
}

.gall {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}

